  body, html {
    height: 100%;
    margin: 0;
    background-color: #555;
  }

  /* image text holder */
  .bottomright,
  .bottomleft {
    position: absolute;
    bottom: 8px;
    font-family: arial, sans-serif;
    font-size: 14px;
    opacity: 0.3;
    background-color: #777;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFF;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  
  .bottomright{
    right: 8px;
    max-width: 40%;
    max-width: 500px;
  }
  
  .bottomleft{
    left: 8px;
    max-width: 25%;
  }

  .bottomright a,
  .bottomleft a{ 
    padding: 15px 15px 10px 15px;
    line-height: 150%;
  }

  /* link */
  .bottomright a:link,
  .bottomright a:visited,
  .bottomright a:hover,
  .bottomright a:active,
  .bottomleft a:link,
  .bottomleft a:visited,
  .bottomleft a:hover,
  .bottomleft a:active{
    color: #FFF;
    text-decoration: none;
  }

  div.bottomright:hover,
  div.bottomleft:hover{
    opacity: 0.9;
    background-color: #555;
  }

  /* search forms */
  .topleft {
    position: absolute;
    top: 8px;
    left: 8px;
    font: 16px arial, sans-serif;
  }

  input[type=text] {
    font-size: 16px;
    color: #000;
    opacity: 0.45;
    border: none;
    padding: 3px 3px 3px 5px;
    border-radius: 3px;
    width: 235px;
  }

  input[type=text]:focus {
    background-color: lightblue;
    opacity: 0.75;
  }

  #ddgDiv {
    float: left;
    padding-left: 10px;
  }

  #googDiv {
    position: absolute;
    left: 265px;
  }

  .autocomplete-items {
    /*position: absolute;
    border: 1px solid #d4d4d4;
    padding: 1px;*/
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
  }

  .autocomplete-items div {
    padding: 6px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    opacity: 0.65;
  }

  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }

  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  
  /* info page */
  .infotext{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 5%;
    width: 620px;
    min-width: 100px;
    max-width: 35%;
    text-align: left;
    color: #FFF;
    background-color: #555;
    opacity: 0.9;
    font-family: arial, sans-serif;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 15px 10px 25px;
  }
  
  .infotext h1{
    padding: 0;
    margin: 0;
    font-size: 24px;
  }
  
  .infotext p{
    padding-bottom: 5px;
    margin-top: 2px;
    line-height: 1.3em;
  }
  
  .infotext a{
    text-decoration: none;
  }
  
  .infotext a:link,
  .infotext a:visited,
  .infotext a:active {
    color: #4da6ff;
  }
  
  .infotext a:hover {
    color: lightblue;
  }
    