<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>New Tab</title>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
    <link rel="stylesheet" href="static/styles.css">
    <style>
    #bg {
      position: relative;
      opacity: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url({{ imgurl }});
      height: 100%;
      margin-top: 5px;
      transition: opacity 100ms, margin-top 100ms;
    }
    </style>
  </head>

  <body >
    <div id='bg'></div>
      <div class="bottomright"><a href="{{imgreddit}}" target="_blank"> {{ imgtext }} </a></div>
      <div class="topleft">
        <div id="ddgDiv">
          <form id="ddgSearch" method="get" action="https://duckduckgo.com/" style="padding:0; margin:0;" autocomplete="off">
            <div class="ddgautocomplete">
            <input id="ddgSearchBar" type="text" name="q" value="" placeholder="DuckDuckGo Search..." spellcheck="false" autocomplete="off" tabindex="1">
            </div>
          </form>
        </div>
        <div id="googDiv">
          <form id="googleSearch" method="get" action="https://www.google.com/search" style="padding:0; margin:0;" autocomplete="off">
            <div class="googautocomplete">
              <input id="googleSearchBar" type="text" name="q" value="" placeholder="Google Search..." spellcheck="false" autocomplete="off" tabindex="2">
            </div>
          </form>
        </div>
      </div>
      <div class="bottomleft"><a href="/info">More Info</a></div>
    <script src="static/xhr.js"></script>
  </body>
</html>