<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>New Tab Info</title>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
    <link rel="stylesheet" href="static/styles.css">
    <style>
    #bg {
      position: relative;
      opacity: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url({{ imgurl }});
      height: 100%;
      margin-top: 5px;
      transition: opacity 200ms, margin-top 200ms;
    }
    </style>
  </head>

  <body >
    <div id='bg'></div>
      <div class="bottomright"><a href="{{imgreddit}}" target="_blank"> {{ imgtext }} </a></div>
      <div class="infotext">
        <h1>Overview</h1>
        <p>
          <a href="/">NewTab</a> is simple new tab page with beautiful background images, simple search and no ads or trackers.
          <br/><br/>
          Every night, the app collects links to the top images from <a href="http://reddit.com" target="_blank">Reddit<a/> via <a href="http://imgur.com" target="_blank">Imgur</a>. 
          The default search engine is <a href="http://duckduckgo.com" target="_blank">DuckDuckGo</a> but you can hit tab to switch to Google.
          <br/><br/>
          Made by <a href="http://twitter.com/@ashrust" target="_blank">Ash Rust</a>.
        </p>
        <h1>How to Install</h1>
        <p>
          <b>Safari:</b><br/>Go to Safari's Preferences<br/>Under the <i>General</i> tab, set your homepage to: <b>https://newtab.click</b><br/>Then set <i>New tabs open with</i> to <b>Homepage</b> 
          <br/>Lastly set <i>New windows open with</i> to <b>Homepage</b>
          <br/><br/>
          <b>Chrome:</b><br/>The chrome extension is <a href="https://chrome.google.com/webstore/detail/newtab-beautiful-images-s/ccelhhdengdfdgadooapdijgfehmojej" target="_blank">available here</a>
          <br/><br/>
          <b>Edge:</b><br/>Here's how to <a href="https://support.microsoft.com/en-us/help/4538971/microsoft-edge-add-or-remove-extensions" target="_blank">add Chrome extensions to Edge</a> (scroll down)
        </p>
        <h1>Support</h1>
        <p>
          This app is provided for free and comes with absolutely no warranty or customer support whatsoever
        </p>
        <h1>Code</h1>
        <p>The code for this project is open source and available on Github under the MIT License. 
        An earlier version is also available on Repl.it.</p>
        <h1>Credits</h1>
        <p>
          Monitoring is provided by <a href="https://uptimerobot.com" target="_blank">UptimeRobot</a>.
          The Globe icon is from the <a href="https://findicons.com/icon/60415/globe" target="_blank">Vistoon</a> icon pack.
          The code for displaying query suggestions was adapted from tutorials on <a href="https://www.w3schools.com/js/default.asp" target="_blank">W3Schools</a>.
        </p>
      </div>
      <div class="bottomleft"><a href="/">Back to Main Page</a></div>
    <script src="static/image.js"></script>
  </body>
</html>