<html>
  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>New Tab Info</title>
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'>
    <link rel="stylesheet" href="static/styles.css">
    <style>
    #bg {
      position: relative;
      opacity: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url({{ imgurl }});
      height: 100%;
      margin-top: 5px;
      transition: opacity 100ms, margin-top 100ms;
    }
    </style>
  </head>

  <body >
    <div id='bg'></div>
      <div class="bottomright"><a href="{{imgreddit}}" target="_blank"> {{ imgtext }} </a></div>
      <div class="infotext">
        <h1>Overview</h1>
        <p>
          <a href="/">NewTab</a> is simple new tab page with beautiful background images, simple search and no ads or trackers.
          <br/><br/>
          Every night, the app collects links to the top images from <a href="http://reddit.com" target="_blank">Reddit<a/> via <a href="http://imgur.com" taregt="_blank">Imgur</a>. 
          The default search engine is <a href="http://duckduckgo.com" target="_blank">DuckDuckGo</a> but you can hit tab to switch to Google.
          <br/><br/>
          Made by <a href="http://twitter.com/@ashrust" target="_blank">Ash Rust</a>.
        </p>
        <h1>How to Install</h1>
        <p>
          <b>Safari:</b> Go to Safari's Preferences. Under the "General" tab (top left), set your homepage to: https://newtab.click/. Then set "New tabs open with" to "Homepage" 
          and also set "New windows open with" to "Homepage".
          <br/><br/>
          <b>Chrome:</b> The chrome extension is currently awaiting approval.
          <br/><br/>
          <b>Edge:</b> Here's how to <a href="https://support.microsoft.com/en-us/help/4538971/microsoft-edge-add-or-remove-extensions">add Chrome extensions to Edge</a> (scroll down).
        </p>
        <h1>Support</h1>
        <p>
          This app is provided for free and comes with absolutely no warranty or customer support whatsoever.
        </p>
        <h1>Code</h1>
        <p>Coming soon...</p>
        <h1>Credits</h1>
        <p>
          Credits go here
        </p>
      </div>
      <div class="bottomleft"><a href="/">Back to Main Page</a></div>
    <script src="static/xhr.js"></script>
  </body>
</html>